.card {
  width: 270px;
  background: transparent;
  text-align: center;
  padding: 15px;
}

/* картинка */
.image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 25px;
}

/* назва рецепта */
.title {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #3c3c3c;
}

/* блок з іконками */
.info {
  margin: 12px auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #f3f3f3;

  padding: 10px 15px;

  border-radius: 30px;

  font-size: 13px;

  width: 90%;
}
