.box {
  background: #f3f3f3;
  width: 180px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 14px;
}

.box p {
  margin-bottom: 10px;
  font-weight: 600;
}

.levels {
  display: flex;
  justify-content: space-between;
}

.level {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  background: #e7e2d2;
}

.active {
  background: #ff6b6b;
  color: white;
}
